body {
    background-color: #a57d84;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 72px;
    color: #4CAF50;
    text-align: center;
    text-shadow: 2px 2px #333;
}

.back-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

